@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.character-grid {
  max-width: 800px;
  display: grid;
  justify-items: center;
  gap: 8;
}

.character-button {
  max-width: 200px;
  max-height: 200 px;
}
